In [1]:
import tensorflow as tf
from tensorflow import keras
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv('./data/train.csv')
np.random.shuffle(train_df.values) # shuffle the data
train_df.head()

          x          y  color
0  0.421109   1.600751    0.0
1 -1.021780  -0.429865    1.0
2 -3.235664  11.626328    0.0
3  0.143595  -1.535479    1.0
4 -1.281982   3.427564    0.0

Convert dataframe into numpy array to be used in the network

In [3]:
train_input_values = np.column_stack((train_df.x.values, train_df.y.values))
train_output_values = train_df.color.values

print("x and y values:\n", train_input_values[0:5])
print("\ncolor values:\n",train_output_values[0:5])

x and y values:
 [[ 0.42110923  1.60075106]
 [-1.02178033 -0.42986545]
 [-3.23566367 11.62632776]
 [ 0.14359499 -1.53547879]
 [-1.28198185  3.42756447]]

color values:
 [0. 1. 0. 1. 0.]

In [8]:
model = keras.Sequential([
    keras.layers.Dense(32, input_shape = (2,), activation = 'relu'), # 32 neurons in our first hidden layer
    keras.layers.Dense(32, input_shape = (2,), activation = 'relu'), # add another layer
    keras.layers.Dropout(0.2), # add a dropout (20%)
    keras.layers.Dense(2, activation = 'sigmoid')]) # output layer of 2

model.compile(optimizer = 'adam',
              loss = keras.losses.SparseCategoricalCrossentropy(from_logits = True),
              metrics = ['accuracy'])

model.fit(train_input_values, train_output_values, batch_size = 4, epochs = 10)

Train on 4000 samples
Epoch 1/10
4000/4000 [==============================] - 2s 424us/sample - loss: 0.5877 - accuracy: 0.7462
Epoch 2/10
4000/4000 [==============================] - 1s 312us/sample - loss: 0.4709 - accuracy: 0.8605
Epoch 3/10
4000/4000 [==============================] - 1s 312us/sample - loss: 0.4057 - accuracy: 0.9268 - l
Epoch 4/10
4000/4000 [==============================] - 1s 320us/sample - loss: 0.3701 - accuracy: 0.9603
Epoch 5/10
4000/4000 [==============================] - 1s 310us/sample - loss: 0.3483 - accuracy: 0.9787 - loss: 0.351
Epoch 6/10
4000/4000 [==============================] - 1s 324us/sample - loss: 0.3401 - accuracy: 0.9840
Epoch 7/10
4000/4000 [==============================] - 1s 316us/sample - loss: 0.3319 - accuracy: 0.9893
Epoch 8/10
4000/4000 [==============================] - 1s 310us/sample - loss: 0.3319 - accuracy: 0.9855
Epoch 9/10
4000/4000 [==============================] - 1s 305us/sample - loss: 0.3375 - accuracy: 0.9790
Epoch 10/10
4000/4000 [==============================] - 1s 310us/sample - loss: 0.3339 - accuracy: 0.9805

Now we use our model on the test data

In [9]:
test_df = pd.read_csv('./data/test.csv')
test_df.head()

          x          y  color
0 -0.709694   1.902953    0.0
1  1.358063   2.923887    0.0
2 -0.684174   2.125850    0.0
3  3.190384  11.425374    0.0
4 -1.225524   3.178416    0.0

In [10]:
test_input_values = np.column_stack((test_df.x.values, test_df.y.values))
test_output_values = test_df.color.values

In [11]:
model.evaluate(test_input_values, test_output_values)

1000/1000 [==============================] - 0s 160us/sample - loss: 0.3170 - accuracy: 1.0000

[0.31695764970779416, 1.0]